.navbar{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 31px;
    padding-bottom: 30px;
    /* z-index: 2; */
    /* background-color: yellow; */
}

.title{
    position: relative;
    top: 20px;

}

.menu{
    display: flex;

}

.menu-items{
    position: relative;
    top: 20px;
    display: flex;
    gap:47px;
    list-style: none;
}

.menu-items a {
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;

}